<header class="modal-header" data-test-modal="unsaved-settings">
    <h1>您确定要离开此页吗？</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        看起来您没有保存您所做的更改。
    </p>

    <p> 请再离开前保存！</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-stay-button><span>留下</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red" data-test-leave-button><span>离开</span></button>
</div>
