<div class="modal-content">
    <header class="modal-header" data-test-modal="unsaved-settings">
        <h1>您确定要离开此页吗？</h1>
    </header>
    <button type="button" class="close" role="button" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            看起来您没有保存您所做的更改。
        </p>

        <p>离开前保存！</p>
    </div>

    <div class="modal-footer">
        <button {{on "click" (fn @close false)}} class="gh-btn" data-test-stay-button><span>留下</span></button>
        <button {{on "click" (fn @close true)}} class="gh-btn gh-btn-red" data-test-leave-button><span>离开</span></button>
    </div>
</div>